{% extends '../cinema/base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content%}
<form method="post">
    {%csrf_token%}
    <div class = "wrapper">
        <div class="formTitle">Sign up</div>
        <div class="detailText">Username:</div>
        {{form.username}}
        <div class="detailText">Email:</div>
        {{form.email}}
        <div class="detailText">Password:</div>
        {{form.password}}
        <div class="detailText">Confirm password:</div>
        {{form.passwordConfirm}}
        <div class="errorMessage">
            {% for i in error %}
            {{i}}
            {% endfor %}
        </div>
        
        <button class = "button" type="submit">Confirm</button>
        <p>Already have an account? So just login <a class ="nonHeaderLink" href="/login">Here</a>
        </p>
    </div>
</form>
{% endblock %}