{% extends 'cinema/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div>
    <h1>About us</h1>
    <div class = "pageText">
        <div style="display: flex; flex-direction :  row;">
            <img src = '/image/da.png' height="250px" class="logo" style="margin:0px 50px 0px 0px">
            Logo of the company is the symbol of culter. Soft lines are like flowing of our lifes, where everything matters. We try to fill people lifes with happiness, love and fun. In our cinema everybody can feel home!
        </div>
        <p width="700px">Our cinema was built by ancient people. Many time this place was recovered: 1892, 1960, 2000 and 2023. And now over than 200 people work here. You can watch last video we make.</p>
    </div>
    <iframe src = "http://www.youtube.com/embed/9SbgmM3mSps?enablejsapi=1&origin=http://example.com" type="text/html" width="980" height="550" frameborder="0"></iframe>
    <h1>
        Certification
    </h1>
    <a download href="/image/certificate.png">
        <img class="certificate" src = "/image/certificate.png">
    </a>
</div>
{% endblock %}