{% extends 'cinema/base.html' %}
{% block title %}Contacts{% endblock %}
{% block content %}
<div>
    <h1>Contacts</h1>
    {%for employee in contacts%}
    <figure style="display: flex; flex-direction: row;">
        <img style="width:300px;" src="{{employee.photo.url}}" alt="" />
        <figcaption>
            <ul style="font-size: 15pt;">
                <li>{{employee.user.username}}</li>
                <li>{{employee.position.name}}</li>
                <li>{{employee.user.email}}</li>
                <li>+375(16) 425-36-0{{employee.user.id}}</li>
            </ul>
        </figcaption>
    </figure>
    {%endfor%}
</div>
{% endblock %}