{% extends 'cinema/base.html' %}
{% block title %}Contacts{% endblock %}
{% block content %}
<div>
    <form style="display:flex; flex-direction: column; justify-content: space-around; height: 200px; position: sticky; top: 0;">
        <input type="text" required placeholder="required">
        <input type="text" disabled placeholder="disabled">
        <input type="text" placeholder="enabled">
        <input type="number" max="10" value="15">
    </form>
    <q lang="ru">Привет, это цитата на русском</q>
    <br>
    <q lang="en">Hi, this quote is in english</q>
    <p class="cssBlock">Показатель обзаца</p>
    <p>Обзаца показатель</p>

    <br><br>
    <div class="pageText">
        <article class="articleColumns">Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.Проверка колонок.</article>
    </div>

    <div class="gridA">
        <p>a</p>
        
        <p>a</p>
        
        <p>a</p>
        
        <p>a</p>
        
        <p>a</p>
        
        <p>a</p>
    </div>
</div>
{% endblock %}