{% extends 'cinema/base.html' %}
{% block title %}News{% endblock %}
{% block content %}
<div>
    <h1>News</h1>
    {%for item in news%}
    <a href="{% url 'article' news_id=item.id %}" style="text-decoration: none; color:#282828">
        <div class = "newsBlock">
            <img src="{{item.photo.url}}" style="border-radius: 10px; width: 200px;">
            <div style="display: flex; flex-direction: column; margin: 10px;" >
                <span class = "newsDate">{{item.date}}</span>
                <h3 style="margin: 10px 0px;">{{item.title}}</h3>
                <span class = "newsText" style="overflow: hidden; width: 800px; height: 20px;">{{item.text}}</span>
            </div>
        </div>
    </a>
    {%endfor%}
</div>
{% endblock %}

