{% extends 'cinema/base.html' %}
{% block title %}Promo page{% endblock %}
{% block content %}
<div>
    <h1>Promocode's</h1>
    <h3>We have some promo's for you!</h3>
    <div class = "promosBlock">
        <h2 style="color:#f5f5f5">CULTUREFOREVER</h2>
        <h3 style="color:#f5f5f5">Discount: 30%</h3>
        <h3 style="color:#f5f5f5">Works only in ticket office since 18:00 to 23:00. 01.01.2023-30.12.2023</h3>
    </div>
    <div class = "promosBlock">
        <h2 style="color:#f5f5f5">CULTUREISLIFE</h2>
        <h3 style="color:#f5f5f5">Discount: 30%</h3>
        <h3 style="color:#f5f5f5">DOESNT WORK NOW! "Works only in ticket office since 18:00 to 23:00. 01.01.2022-30.12.2022"</h3>
    </div>
</div>
{% endblock %}