{% extends 'cinema/base.html' %}
{% block title %}Vacancy page{% endblock %}
{% block content %}
<div>
    <h1>Vacancy's</h1>
    <h3>We have some offers for you! If you are interested - <a href="/contacts">contact us</a></h3>
    <div style="display: flex;flex-direction: row;">
        <div class = "vacancyBlock">
            <h2 style="color:#f5f5f5">Ticket manager</h2>
            <h3 style="color:#f5f5f5">Salary: 200$</h3>
            <h3 style="color:#f5f5f5">Education: required</h3>
        </div>
        <div class = "vacancyBlock">
            <h2 style="color:#f5f5f5">Hall manager</h2>
            <h3 style="color:#f5f5f5">Salary: 250$</h3>
            <h3 style="color:#f5f5f5">Education: required</h3>
        </div>
        <div class = "vacancyBlock">
            <h2 style="color:#f5f5f5"><pre>class programmer();<br>offer();</pre></h2>
            <h3 style="color:#f5f5f5">Salary: 230$</h3>
            <h3 style="color:#f5f5f5">Education: required</h3>
        </div>
    </div>
    <div style="display: flex;flex-direction: row;">
        <div class = "vacancyBlock">
            <h2 style="color:#f5f5f5">Copywrighter</h2>
            <h3 style="color:#f5f5f5">Salary: 100$</h3>
            <h3 style="color:#f5f5f5">Education: not required</h3>
        </div>
        <div class = "vacancyBlock">
            <h2 style="color:#f5f5f5">Cleaner</h2>
            <h3 style="color:#f5f5f5">Salary: 50$</h3>
            <h3 style="color:#f5f5f5">Education: not required</h3>
        </div>
        <div class = "vacancyBlock">
            <h2 style="color:#f5f5f5">Trinee manager</h2>
            <h3 style="color:#f5f5f5">Salary: - $</h3>
            <h3 style="color:#f5f5f5">Education: not required</h3>
        </div>
    </div>
</div>
{% endblock %}